*{
    margin: 0;
    padding: 0;
}



.content{
    text-align: center;
    line-height: 25px;
    background-color: #ffffff8a;
    border: 2px 2px 2px 2px ;
    border-radius: 5px;
    border-style: groove;
    padding-bottom: 2em;
    padding-right: 10px;
    font-family: cursive;
}
.navbar-fixed{
    opacity: 0.6;
    transition: all 1s;
}
.navbar-fixed:hover{
    opacity: 1;
}
.content img{
    width: 10em;
    border-radius: 10%;
    padding:0 10px 5px 5px;
}
body{
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    background-image: url(img/3623804.jpg);
    background-size: cover;
}
@-webkit-keyframes backAnim {
    0%{background-position:0% 28%}
    50%{background-position:100% 73%}
    100%{background-position:0% 28%}
}
@-moz-keyframes backAnim {
    0%{background-position:0% 28%}
    50%{background-position:100% 73%}
    100%{background-position:0% 28%}
}
@keyframes backAnim {
    0%{background-position:0% 28%}
    50%{background-position:100% 73%}
    100%{background-position:0% 28%}
}
.menumob li{
    margin-top: 15px;
}
.nav-wrapper{
    background: linear-gradient(147deg, #e6aaf0, #799fff, #fbc3fb, #ff91ff);
    background-size: 800% 800%;

    -webkit-animation: backAnim 39s ease infinite;
    -moz-animation: backAnim 39s ease infinite;
    animation: backAnim 39s ease infinite;
}

body h1,h2,h3{
    text-align: center;
    text-size-adjust: 10px;
}

article{
    background: #ffffff;
    border: 1px;
    margin-top: 25px;
    margin-bottom: 25px;
    padding: 5px;
    opacity: 0.5;
    border-radius: 5px;
    max-height: 500px;
    
}
article h3{
    font-size: 20px;
}
article p{
    font-size: 15px;
    text-align: center;
}
article:hover{
    opacity: 1;

    border-style: ridge;
    border-radius: 8%;
    transition: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition-duration: 2s;
}
article h3{
    text-align: center;
    font-family: cursive;
}
article img{
    opacity: 1;
    max-width: 90%;
    transform: translate(5%,0);
    border-radius: 50%;
}
.menu ul{
    position: absolute;
    list-style: none;
    color:white;
    background-color: black;
    float: left;
    z-index: 1;
    opacity: 1;
    width: 50%;
    text-align: center;
    border-radius: 20px;
    height: 50%;
    opacity: 0;
}
.menu li{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 20px;
    border: 2px;
    border-style: groove;
    border-radius: 20px;
    
}
.menu i{
    float: left;
    margin-left: 10px;
    font-size: 25px;
}
.ula li{
	display: block;
	z-index: -1;
	width: 40px;
	height: 40p x;
	border: 2px;
	border-radius: 20px;	
	list-style: none;
	position: absolute;
	opacity: 0.9;
    animation: animat 5s infinite alternate;
    
}
@keyframes animat{
	from{
		/*background-color: rgb(255, 94, 242);*/ 		
		opacity: 0;
		transform: translateY(0px) rotate(0); 

        }
        50%{
            opacity: 0.5;
        }
        
        to{
        /*background-color:rgba(255, 177, 245, 0.527); */
         		

		transform: translateY(-3500px)rotate(960deg); 
			opacity: 1;
		}
}
#imgsl{
    background-image:url(img/sl/AndyCL1.png);
    width: 90%;
    height: 100%;
    opacity: 0.3;
    max-height: 250px;
    transform: translateX(5%);
    background-size: cover;
    transition: all 2s cubic-bezier(0.95, 0.05, 0.795, 0.035);
    border-radius: 5%;
}
.sl:hover #imgsl{
    max-height: 350px;
    width: 100%;
    opacity: 1;
    transform: translate(0);
}
.sl{
    background-color: rgba(252, 203, 241, 0.308);
    width: 100%;
    height: 450px;
    border: 2px;
    border-style: none;
    transition: all 2s;
    
}
.sl:hover{
    border-radius: 5%;
    background-color: rgba(54, 54, 54, 0.205);
    background: linear-gradient(147deg, #e5aaf07c, #d979ff73, #fbc3fb83, #ff91ff69);
    background-size: 800% 800%;
    -webkit-animation: backAnim 39s ease infinite alternate;
    -moz-animation: backAnim 39s ease infinite alternate;
    animation: backAnim 39s ease infinite alternate;
    transition: all 5s;
}
.headerpromo{
    padding: 5px;
    border-radius: 5px;
    background: linear-gradient(147deg, #e6aaf0, #799fff, #fbc3fb, #ff91ff);
    background-size: 800% 800%;

    -webkit-animation: backAnim 39s ease infinite alternate;
    -moz-animation: backAnim 39s ease infinite alternate;
    animation: backAnim 39s ease infinite alternate;
}
.bodypromo{
    background-color: rgba(244, 195, 248, 0.356);
    padding: 15px;
}

.bodypromo img{
    max-width: 70%;
    margin-left: 15%;
    border-radius: 5%;
    border-style: outset;
}
.footerpromo{
    margin-top: 0px;
    margin-bottom: 5px;
    background-color: rgba(244, 195, 248, 0.733);
  
}
footer{
    margin-top: 40px;
}
